@charset "utf-8";

@import url(./reset.css);

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.container {
    width: min(100% - 30px, 1180px);
    margin-inline: auto;
}

/* ------------------Header + Main style------------------ */
/* ------------------------------------------------------- */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in-image {
    opacity: 50%;
}

.fade-in-image:hover {
    opacity: 100%;
    transition: opacity 1s;
}

.section-one {
    height: 100dvh;
}

.header-herobanner {
    height: 100%;
}

header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

header h1 a {
    color: #f6f6ff;
    font-size: 30px;
}

header ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

header ul a:not(.contact) {
    color: #fff;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

header ul a:not(.contact):hover {
    color: #59dfcd;
}

.contact {
    color: #59dfcd;
    font-size: 18px;
    border: 1px solid #59dfcd;
    padding: 4px 10px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.contact:hover {
    border: 1px solid #ededed;
}

.fa-solid.fa-bars {
    font-size: 25px;
    color: #fff;
    line-height: 1.4;
}

.hamburger-menu {
    display: none !important;
    cursor: pointer;
    z-index: 2;
}

.hero-banner {
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-banner h2:first-child {
    color: #59dfcd;
    font-size: 17px;
}

.hero-banner h2:not(:first-child) {
    color: #fff;
    font-size: 70px;
    font-weight: 500;
}

.hero-banner p {
    color: #fff;
    padding-top: 15px;
    font-size: 18px;
}

.read-more,
.message {
    color: #262626;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    padding: 12px 30px;
    border-radius: 4px;
    background-color: #59dfcd;
    transition: all 0.3s ease-in-out;
}

.read-more:hover,
.message:hover {
    background-color: #26c5b0
}

.about-me {
    padding-bottom: 120px;
}

.about-me h2,
.projects h2,
.get-in-touch h2 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 40px;
}

.about-me h2 span {
    color: #26c5b0;
}

.about-me-content {
    display: flex;
    gap: 50px;
    align-items: center;
}

.image-box {
    width: 80%;
}

.about-me-content p {
    color: #fff;
    font-size: 18px;
}

.about-me-content p+p {
    padding-top: 25px;
}

.about-me-content span,
.get-in-touch span {
    color: #26c5b0;
}

.about-me img {
    border-radius: 6px;
}

.technologies-box {
    color: #fff;
    padding-top: 10px;
    display: flex;
    gap: 140px;
}

.technologies li {
    list-style: disc;
    list-style-position: inside;
    font-size: 18px
}

.technologies li+li {
    padding-top: 10px;
}

.project-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.project-display+.project-display {
    padding-top: 100px;
}

.project-display h3 {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 20px;
}

img {
    transition: all 0.25s ease-out;
}

.img-one {
    height: 340px;
    width: 620px;
    border-radius: 6px;
}

.img-two {
    height: 320px;
    width: 630px;
    border-radius: 6px;
}

.project-display-descrip div {
    background-color: #141f38;
    padding: 20px;
    border-radius: 6px;
}

.project-display-descrip p {
    color: #fff;
    font-size: 17px;
}

.language {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 30px;
}

.language li {
    color: #fff;
}

.project-display .links {
    display: flex;
    gap: 26px;
    align-items: center;
}

.project-display .links i:not(.fa-github) {
    color: #fff;
    font-size: 28px;
    transition: all 0.3s ease-in-out;
}

.fa-github {
    font-size: 30px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.links i:not(.fa-github):hover,
.fa-github:hover {
    color: #26c5b0;
    transition: all 0.3s ease-in-out;
}

.other-projects h3 {
    color: #26c5b0;
    font-size: 24px;
    text-align: center;
    padding-top: 100px;
    font-weight: 500;
    padding-bottom: 40px;
}

.other-proj-display {
    display: flex;
    gap: 20px;
}

.other-proj-display+.other-proj-display {
    padding-top: 40px;
}

.other-proj-display span {
    color: #26c5b0;
}

.other-proj-display div {
    background-color: #141f38;
    border-radius: 3px;
    flex: 1;
}

.other-proj-display img {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.other-proj-info {
    color: #fff;
    padding: 20px;
}

.other-proj-info h4 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.other-proj-info p {
    font-size: 14px;
    padding-bottom: 10px;
}

.other-proj-info .links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.other-proj-info a {
    color: #fff;
    font-size: 28px;
    transition: all 0.3s ease-in-out;
}

.other-proj-info a:hover {
    color: #26c5b0;
}

.get-in-touch {
    display: grid;
    place-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.get-in-touch p {
    color: #fff;
    font-size: 18px;
    text-align: center;
    width: 80%;
    padding-bottom: 30px;
}

.get-in-touch ul {
    display: flex;
    gap: 20px;
}

.get-in-touch ul a {
    color: #fff;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

/* ---------------------Footer style---------------------- */
/* ------------------------------------------------------- */

.line-break {
    display: flex;
    justify-content: space-between;
}

.line-one,
.line-two {
    border: 1px solid #fff;
    height: 1px;
    width: 490px;
}

.footer-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 10px;
    gap: 20px;
}

.footer-links a:hover {
    color: #26c5b0;
}

.footer-links a {
    color: #fff;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.footer-links p {
    text-align: center;
    color: #484a53;
    padding-bottom: 20px;
}

/*--------------------- Media Queries----------------------*/
/* ------------------------------------------------------- */
@media only screen and (max-width: 1211px) {
    .img-two {
        height: 300px;
        width: 610px;
        border-radius: 6px;
    }
}

@media only screen and (max-width: 1100px) {
    .img-two {
        height: 280px;
        width: 580px;
        border-radius: 6px;
    }
}

@media screen and (max-width: 1080px) {
    .hero-banner h2:not(:first-child) {
        font-size: 60px;
    }

    .image-box {
        display: none;
    }
}

@media only screen and (max-width: 1045px) {
    .img-two {
        height: 260px;
        width: 560px;
        border-radius: 6px;
    }
}

@media only screen and (max-width: 969px) {
    .project-display {
        gap: 30px;
    }
}

@media only screen and (max-width: 910px) {
    .other-proj-display {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .other-proj {
        width: 100%;
    }

    .img-two {
        height: 240px;
        width: 540px;
        border-radius: 6px;
    }
}

@media only screen and (max-width: 857px) {
    .img-two {
        height: 220px;
        width: 530px;
        border-radius: 6px;
    }
}

@media only screen and (max-width: 814px) {
    .img-two {
        height: 200px;
        width: 500px;
        border-radius: 6px;
    }
}

@media only screen and (max-width: 774px) {
    .project-display {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .project-display+.project-display {
        flex-direction: column-reverse;
    }

    .img-two {
        height: 320px;
        width: 630px;
        border-radius: 6px;
    }
}

@media only screen and (max-width: 733px) {
    .about-me-content {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 590px) {
    .section-one {
        height: calc(100dvh - 100px);
    }
}

@media only screen and (max-width: 628px) {
    .hero-banner h2:not(:first-child) {
        font-size: 40px;
    }

    header ul {
        gap: 20px;
    }

    header ul li {
        display: none;
    }
    
    .hamburger-menu {
        display: block !important;
    }

    .nav {
        flex-direction: column;
    }

    .nav li {
        display: inline;
    }

    .nav {
        border-bottom-left-radius: 6px;
        position: fixed;
        right: -250px;
        width: 250px;
        padding: 240px 20px 20px 20px;
        align-items: center;
        text-align: center;
        background: #202f52;
        transition: right 0.3s ease-in-out;
    }

    .nav.active {
        /* top: 0; */
        right: 0;
    }

    .contact {
        line-height: 2;
    }
}

@media only screen and (max-width: 500px) {
    .project-display .img-two {
        height: 200px;
        width: 630px;
    }

    .about-me-content div {
        width: 100%;
    }

    .about-me-content p, 
    .project-display-descrip p,
    .about-me-content li {
        font-size: 16px;
    }

    .technologies-box {
        flex-direction: column;
        gap: 10px;
    }
}